.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: rgb(22, 22, 22);
  color: #fff;
  font-size: 40px;
  text-shadow: 0 0 20px #000;
}

.time {
  position: absolute;
  top: 15px;
  right: 15px;
}

.image {
  transform: scale(0.75) rotateY(-30deg) rotateX(45deg) translateZ(4.5rem);
  transform-origin: 50% 100%;
  transform-style: preserve-3d;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.25);
  transition: 0.6s ease transform;
}

.image:hover {
  transform: scale(1);
}

.image::before {
  transform: translateZ(4rem);
  .image:hover {
    transform: translateZ(0);
  }
}

.image::after {
  transform: translateZ(-4rem);
  .image:hover {
    transform: translateZ(-1px);
  }
}
