.main {
  display: flex;
  padding: 6rem;
  min-height: 100vh;
  color: #fff;
  font-size: 40px;
  text-shadow: 0 0 20px #000;
}

.selected {
  position: absolute;
  bottom: 15px;
  left: 15px;
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.time {
  position: absolute;
  top: 15px;
  right: 15px;
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.grid {
  /* width: 100vw;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  gap: 50px; */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  /* z-index: -1; */
}

.overlay {
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  align-items: center;
  display: flex;
  justify-content: center;
}

.loading {
  background-image: url("/ppl.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.nav {
  position: absolute;
  top: 15px;
  left: 15px;
  display: flex;
  gap: 1.5rem;
  z-index: 10;
}

.navLink {
  font-size: 40px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 20px #000;
  filter: blur(1px);
  -webkit-filter: blur(1px);
  transition: all 0.3s ease;
}

.navLink:hover {
  text-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}
